---
---

@import "{{ site.theme }}";

body{
    background-image:url('../psxback1.jpg');
}

h1, h2, h3, h4, h5 {
    font-weight: bold !important;
}

.project-tagline {
    height: 4em;
    background-image: url('../under-construction-GIF.gif');
    background-repeat: no-repeat;
    background-position: top;
}

.main-content{
    background-color: #ffffffc4;
}

.page-header{
    padding: 0;
}
